spring:
  datasource:
    url: jdbc:mysql://localhost:3306/decision_journal
    username: dj
    password: dj123
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

server:
  port: 8080